<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<h1>To Do List</h1>
<p>
<li *ngFor="let Todo of tasks;" >
  <div *ngIf="Todo.completed===true"> <button (click)="removeTask(Todo, tasks)">X</button> {{Todo.task}} : {{Todo.completed}} </div>  
  <div *ngIf="Todo.completed===!true"> <button (click)="removeTask(Todo, tasks)">X</button> {{Todo.task}} : {{Todo.completed}}   <button (click)="completeTask(Todo)" style="color: #ff69b4; border-color: #ff69b4;">complete</button>  </div>

</li>
</p>
<div>Add a Task:</div>
<form #taskForm="ngForm">
  <label>task</label>
  <input name="name" type="text" [(ngModel)]="f.task" style="border-color: #eee;"/>
  <br>
  <label>completed</label>
  <input name="age" type="checkbox" [(ngModel)]="f.completed" style="border-color: #eee;"/>
  <br>

</form>

<button (click)="addTask()" style="background-color: #ff1493; border-color: #eee; color: white;">Add</button>

</body>
</html>